/* 
    Markdown CSS 
*/

/* Text styles */
h1,
h2,
h3,
h4,
h5 {
    color: #eaeaea !important;
}

p,
li,
span,
tr,
td {
    color: #babdc4;
}

a,
a:visited {
    color: #5292ff;
    transition: 0.2s;
    font-weight: 500;
}

a:hover {
    color: #457ad4;
}

/* Code snippets need internal padding */
pre {
    padding: 5px;
}

/* Embed videos need some padding  */
iframe {
    padding: 0 0 20px 0;
}

/* Images should be centered */
#post img {
    display: block;
    margin: 1.0rem auto;
    max-width: 100%;
    height: auto;
}