@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.woff");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-light.woff");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-thin.woff");
    font-weight: 100;
}

body {
    background-color: #141416;
    font-family: Roboto, sans-serif;
}

i {
    font-size: 24px;
    padding: 0px 3px;
}

.nav-item.active {
    opacity: 1;
}

.nav-item {
    opacity: 0.7;
    font-size: 20px;
}

.card {
    margin-bottom: 14px;
    border-radius: 8px;
    background: transparent;
    border-color: transparent;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 10px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
}

.card:active {
    transform: scale(1.02) !important;
}