body {
    background-color: #131418;
    font-family: Roboto, sans-serif;
}

i {
    font-size: 24px;
    padding: 0px 3px;
}

.card {
    margin-bottom: 14px;
    border-radius: 8px;
    background: transparent;
    border-color: transparent;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 10px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
}

.card:active {
    transform: scale(1.02) !important;
}