{{ define "main" }}
<div>
    <h2>{{ .Title }}</h2>
    {{ range .Pages.ByPublishDate.Reverse }}
    <a href="{{ .RelPermalink }}" class="container card" style="text-decoration: none;">
        <h4 style="text-decoration: underline;">{{ .Title }}</h4>
        {{if .Params.date}}
        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
        <span class="d-flex" datetime="{{ $dateTime }}"><i class="fas fa-calendar"
                style="font-size: 15px; padding-top: 3px;"></i>{{
            .PublishDate.Format
            $dateFormat}} - {{
            math.Round (div (countwords .Content)
            220.0) }} min read</span>
        {{end}}
    </a>
    {{ end }}
</div>
{{ end }}