{{ define "main" }}
<div>
    <h2>{{ .Title }}</h2>
    {{if .Params.date}}
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    <p class="d-flex" datetime="{{ $dateTime }}"><i class="fas fa-calendar"
            style="font-size: 15px; padding-top: 3px;"></i>{{
        .PublishDate.Format
        $dateFormat}} - {{
        math.Round (div (countwords .Content)
        220.0) }} min read</p>
    {{end}}

    {{ .Content }}
</div>
{{ end }}