<nav class="navbar navbar-expand" style="padding: 20px 0px;">
    {{ $isHome := (eq "/" .Page.RelPermalink) }}
    <a class="nav-item{{ if ($isHome) }} active{{ end }}" href="/"
        style="text-decoration: none; font-weight: bold;">matek.dev</a>
    <div class="navbar-collapse justify-content-end">
        <div>
            {{ $page := (replace .Page.RelPermalink "/" "") }}
            {{ range .Site.Menus.main }}
            {{ $active := (in $page (lower .Name)) }}
            <a class="nav-item{{ if ($active) }} active{{ end }}" href="{{ .URL }}"
                style="text-decoration: none; font-weight: bold; padding-left: 20px;">
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
            </a>
            {{ end }}
        </div>
    </div>
</nav>