{{ define "main" }}

<header class="d-flex align-items-center">
    <img src="images/lr.jpg" style="border-radius: 8px; width: 90px; margin: 20px;" />
    <div class="d-flex justify-content-center flex-column">
        <h1 style="margin: 0px;">Matthew Zegar</h1>
        <div style="font-size: 30px;">
            <a href="https://github.com/matekdev"> <i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/matthewzegar/"> <i class="fab fa-linkedin"></i></a>
            <a href="mailto:matthewzegar@gmail.com"> <i class="fas fa-envelope-square"></i></a>
        </div>
    </div>
</header>

<main>
    {{ .Content }}
</main>
{{ end }}