{{ define "main" }}

<header class="text-center">
    <img src="images/mz.png" style="border-radius: 50%; width: 200px;" />
    <h1 style="font-size: 50px; margin: 0px;">Matthew Zegar</h1>

    <div style="font-size: 30px;">
        <a href="https://github.com/matekdev"> <i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/matthewzegar/"> <i class="fab fa-linkedin"></i></a>
        <a href="mailto:matthewzegar@gmail.com"> <i class="fas fa-envelope-square"></i></a>
    </div>
</header>

<main>
    {{ .Content }}
</main>
{{ end }}