/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Poppins');

/*Text related*/
* {
    font-family: 'Poppins', sans-serif;
}

li {
    font-size: 17px;
    color: #dbdbdb !important;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.subtitle {
    font-size: 20px;
    color: #e3e3e3;
}

.containerTitle {
    font-size: 30px;
    color: #e7e7e7;
}

.containerText {
    font-size: 17px;
    color: #dbdbdb;
}

.containerLink {

}

.date {
    font-style: italic !important;
    color: #868690;
}

a:link, a:visited, a:hover, a:active {
    color: #0f9fff;
    text-decoration: none !important;
}

a:hover {
    color: #0983d4 !important;
}

/*Components*/
html, body {
    margin: 0;
    height: 100%;
    background-color: #171727 !important;
    scroll-behavior: smooth;
}

.jumbotron {
    background-color: #171727 !important;
    padding-bottom: 0px !important;
}

.headerImage {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border-radius: 1%;
}

.customContainer {
    background-color: #0f0f1a !important;
    padding: 20px;
    margin: -5px -5px 30px;
}

.navBarItemSpacing {
    padding-left: 5px;
    padding-right: 5px;
}

.navBarItemIcon {
    margin-bottom: 2px;
}